params {
  input = "$baseDir/data/tmp.fastq"
  outputDir = "$baseDir/results"  
  genome = "$baseDir/data/genomicSeqs.fa"
  trnaRrnaGenome = "$baseDir/data/tRNArRNA.fsa"
  sampleName = "bcinB05-10"
  type = "fastq"
  minLength = 20
  maxLength = 100
}
process {
  container = 'smallrnaseq'
}
docker {
    enabled = true
}
